g.caravel path {
   stroke-dasharray: 5, 5;
}

.nvtooltip tr.highlight td {
  font-weight: bold;
  font-size: 15px !important;
}


.nv-slice.opacified path,
.nv-bar.opacified {
    fill-opacity: 0.1;
}
